.form {
    padding: 0px 0px 0px 00px;
    font: 0.85em Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 20px;
}

.preview {
    font: 0.85em Arial, Helvetica, sans-serif;
    font-style: italic;
}

body {
	background:#FFF;
	text-align: center;
	font: 0.85em Arial, Helvetica, sans-serif;
	width: 75%;
	margin: 0 auto;   
}

.disclaimer {
	text-align: center;
	font: 0.65em Arial, Helvetica, sans-serif;
	margin: 5 auto;   
}

.main {
	text-align: center;
	font: 0.85em Arial, Helvetica, sans-serif;
	margin: 5 auto;   
}

h4 {
	text-align: center;
	font: 1.5em Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.error {
	font: 1em Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #cc0000;
}

.login-message {
	font: 1em Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #0000A0;
}

a:link{
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}

.shell-top-bar {
  text-align: left;
  color: #525252;
  padding: 5px 5px 5px 5px;
  margin: 0;
  #text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  font: 0.8em 'Andale Mono', Consolas, 'Courier New';
  font-size: 0.85em;
  border: 1px solid #CCCCCC;
  border-bottom: none;
 
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
 
  background: #f7f7f7; /* Old browsers */
  background: -moz-linear-gradient(top,  #f7f7f7 0%, #B8B8B8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#B8B8B8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f7f7f7 0%,#B8B8B8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#B8B8B8',GradientType=0 ); /* IE6-9 */
}

.shell-body {
  margin: 0;
  padding: 5px;
  text-align:left;
  list-style: none;
  background: #333333;
  color: #FFF;
  font: 0.8em 'Andale Mono', Consolas, 'Courier New';
  line-height: 1.6em;
  word-wrap: break-word;
 
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
 
.shell-body li:before {
  content: '$';
  position: absolute;
  left: 0;
  top: 0;
}
 
.shell-body li {
  word-wrap: break-word;
  position: relative;
  padding: 0 0 0 15px;
}

.controls {
	font: 0.8em Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #888888;
	font-weight: bold;
}

.orangeBold {
	font: 0.9em Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #e47911;
	font-weight: bold;
}

.camera {
  width: 340px;
}

.outputPhoto {
  width: 340px;
}

.rekogLandmarks{
   position:absolute;
   right:17%;
   line-height: 20px;
   background-color: #4d80c5;
   padding: 5px 5px 5px 5px;
   color: #f8f8f0;
  }